{{! modal to add a post }}
<div class="modal" id="new">
  <div class="modal-background" id="add-background"></div>
  <div class="modal-content">
    <div class="card">
      <form id="add-post">
        <div class="title is-1">New Post</div>
        <div class="field">
          {{! title field form }}
          <div>
            <input
              class="input"
              placeholder="Enter title here..."
              id="title-field"
            />
          </div>
          {{! comment field form }}
          <div>
            <input
              class="textarea"
              placeholder="Enter comment here..."
              id="post-field"
            />
          </div>
          {{! submit button }}
          <div>
            <button class="button" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/newPost.js"></script>