<section>
    <div>
        {{user.user}}
    </div>
    {{#if user.posts}}
    <ul>
        <h1>posts</h1>
        {{#each user.posts as |post|}}
        <li>
            <div>
                <a href='/post/{{id}}'>
                    {{> post-details}}
                </a>
                <button class='button' id='delete' data-id={{id}}>delete</button>
                <button class='button' id='edit' data-id={{id}}>edit</button>
            </div>
        </li>
        {{/each}}
    </ul>
    {{/if}}
    <button class='button' id='create-new'>New Post</button>
</section>

{{!-- modal to add a post --}}
<div class='modal'>
    <div class='modal-background'></div>
    <div class='modal-content'>
        <div class='card'>
            <form id='add-post'>
                <div class='title is-1'>New Post</div>
                <div class='field'>
                    {{!-- title field form --}}
                    <div>
                        <input class='input' placeholder='Enter title here...' id='title-field' />
                    </div>
                    {{!-- comment field form --}}
                    <div>
                        <input class='textarea' placeholder='Enter comment here...' id='post-field' />
                    </div>
                    {{!-- submit button --}}
                    <div>
                        <button class='button' type='submit'>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type='text/javascript' src='/js/editAndDelete.js'></script>
<script type='text/javascript' src='/js/modal.js'></script>