<section>
    <h2 class='title is-3 mx-2'>Posts</h2>
    {{#each posts as |post|}}
    <a href='/post/{{id}}'>
        {{> post-details}}
    </a>
    {{/each}}
    <button class='button' id='create-new'>New Post</button>
</section>

{{> add-post}}
<script type='text/javascript' src='/js/modal.js'></script>